html  /* if write here 100% then automatically calculate from the html code here */ 
{
	height:100%;  
}
body 
{
  padding-top: 70px;
  height: 100%;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer /* this is footer element nd below is footer class */
{
  margin: 0;
}
/*
custom Styling
*/

.wrapper /* wrapper wraps the entire body elements */ 
{
	min-height:100%;
	position: relative; /* we use relative property to position any element at any location*/
	
}
.content
{
	padding-bottom: 60px; /* height of the footer */
}
.footer
{
	position:absolute;
	bottom:15;
	height: 60px;
}

.dataTableImage
{
	width: 100px;
	height: 100px;
}